body {
    background-color: rgb(4, 0, 0);
    color: rgb(252, 253, 252);
    margin: 0; /* Verwijder standaard marge */
    font-family: Figtree;
    
}


.header-container {
    position: relative; /* Nodig voor het positioneren van de overlay */
    text-align: center; /* Centreert de tekst */
}

.background-image {
    width:50%; /* Laat de afbeelding de breedte van de container vullen */
    height: 50%; /* Behoudt de verhoudingen van de afbeelding */
    z-index: 1; /* Zorgt dat de afbeelding achter de tekst blijft */
}
/* Nieuwe CSS voor de afbeelding en tekst */
.container {
    position: relative; /* Positionering voor de overlay tekst */
    width: 100%; /* Breedte van de container */
    margin: auto; /* Centreert de container */
    margin: 20px; /* Ruimte rondom de tekstcontainer */
    text-align: left; /* Tekst links uitlijnen */
}

h1 {
    font-family: Calvino Grande Trial;
    font-size: 75px;
    font-weight: 800;
    line-height: 59px;
    text-align: left;
    position: absolute; /* Absoluut positioneren ten opzichte van de container */
    top: 50%; /* Plaatst de tekst verticaal in het midden */
    left: 50%; /* Plaatst de tekst horizontaal in het midden */
    transform: translate(-50%, -50%); /* Centreert de tekst */
    color: white; /* Kleur van de tekst */
    font-size: 100px; /* Grootte van de tekst */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Schaduw voor betere leesbaarheid */
    margin: 0; /* Verwijder standaard marge */
}

p {
    max-width: 400px;
    font-family: Figtree;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    min-width: 250px;
    margin-left: 20%;
    margin-top: -12%;
    left: 30%
}

a {
    text-align: center; /* Tekst l/r uitlijnen */
    display:inline-block;
    margin-left: 30%; /* Verschuif de tekst % naar rechts */
}

.link-button {
    display: inline-block;
    width: 200px; /* Breedte van de rechthoek */
    height: 60px; /* Hoogte van de rechthoek */
    padding: 0; /* Geen padding */
    line-height: 60px; /* Verticaal centreren */
    text-align: center; /* Horizontaal centreren */
    color: white; /* Tekstkleur */
    text-decoration: none; /* Verwijder onderstreping */
    border-radius: 15px; /* Maak de hoeken afgerond */
    background-color: rgb(4, 0, 0); /* Achtergrondkleur */
    border: 1px solid white;
    box-sizing: border-box;
    transition: background-color 0.3s; /* Effect voor achtergrondkleurverandering */


}

.link-button:hover {
    background-color: #0056b3;
    color:rgb(4, 0, 0)
}